.content {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  background-color: lightsalmon;
  border-radius: 4px;
  color: red;
  border: 1px solid tomato;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 25px;
  grid-gap: 25px;
  grid-auto-flow: dense;
  align-items: stretch;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: larger;
}

.item-1 {
  grid-row: span 1;
}

.item-2 {
  grid-row: span 2;
}

.item-3 {
  grid-row: span 3;
}

.item-4 {
  grid-row: span 4;
}

.item-5 {
  grid-row: span 5;
}

.item {
  position: relative;
}
